$base-backgroundColor : #1A1A1A;
$default_color : #F9F9FA;
$unover_color : #B2B0B0;
$brown_color : #C9AB81;
$white : #fff;

@import url(./font.css);

@mixin flex-space-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@mixin over_on_button_with_background {
    color: $white !important;
    background-color: $brown_color;
}

@mixin actions {
    border: 2px solid $white;
    color: $brown_color;
    padding: 5px 20px;
    border-radius: 7px;
    transition: all ease-in .3s;
}

@mixin actions_hover {
    background-color: $brown_color;
}

// General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Vazirmatn';
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $white;
}

button {
    background-color: unset;
}

body {
    background-color: #1A1A1A;
    color: $default_color;
    font-family: 'Vazirmatn';
}

.test {
    height: 100vh;
    width: 100%;
    background: red;

}

.test>div {
    height: 100%;
}

.test>div video {
    height: 100%;
    max-width: 100%;
}

// header
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &_top {
        display: flex;
        justify-content: space-around;
        align-items: center;

        // header_logo  
        &_logo img {
            width: 130px;
        }

        // header_menu
        &_menu {

            // header_menu-box
            &-box {
                @include flex-space-center;

                // header-menu-box-item  
                &-item a {
                    color: $unover_color;
                    margin-left: 18px;

                }

                &-item {
                    &-button {
                        padding: 15px 15px 5px 15px;
                        border: 2px solid $brown_color;
                        border-radius: 7px;
                        color: $brown_color !important;
                        transition: all ease-in .4s;

                        &:hover {
                            @include over_on_button_with_background;
                        }
                    }

                    &-active {
                        color: $white !important;
                    }
                }
            }
        }

        // header_shopping
        &_shopping {
            @include flex-space-around;

            &_button {
                color: $brown_color;
                border: 1px solid $brown_color;
            }

            &_phone {
                color: $brown_color;
                font-size: 25px;
            }
        }

    }


}
// main
.main {
    &_box {
        height: 100vh;

        &_video>video {
            height: 100vh;
            width: 100%;
            object-fit: fill; // use "cover" to avoid distortion
            position: absolute;
            z-index: -1;
        }

        &_empty {
            height: 100vh;
            width: 100%;
            position: absolute;
            z-index: -1;
            background: rgba(10, 10, 10, .7);
        }

        &_content {
            width: 80%;
            margin: auto;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &_title {
                color: $brown_color;
                font-weight: bold;
                font-size: 2rem;
                margin-bottom: 20px;
            }

            &_description {
                margin-bottom: 20px;
            }

            &_actions {
                display: flex;
                align-items: center;
                gap: 170px;
                color: #fff;

                &-start {
                    @include actions;

                    &:hover {
                        @include actions_hover;
                    }
                }

                &-order {
                    @include actions;

                    &:hover {
                        @include actions_hover;
                    }
                }

                &-request {
                    @include actions;

                    &:hover {
                        @include actions_hover;
                    }
                }
            }
        }

    }

    &_about {
        padding: 100px 0;
        background-color: #000;

        &_box {
            display: flex;
            width: 80%;
            margin: auto;
            font-size: 22px;

            &_right {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 50%;

                &_icon {
                    color: $brown_color;
                }

                &_title {
                    color: $brown_color;
                }

                &_manager {
                    color: $unover_color;
                }

                &_text {
                    font-size: 15px;

                    &>span {
                        color: $brown_color;
                    }
                }

                &_more {
                    padding: 15px 20px 5px 20px;
                    border: 1px solid #C9AB81;
                    border-radius: 7px;
                    color: #C9AB81 !important;
                    transition: all ease-in 0.4s;
                    font-size: 15px;

                    &:hover {
                        @include over_on_button_with_background;
                    }
                }
            }

            &_left {
                width: 50%;

                &_image_box {
                    padding: 20px 20px 20px 20px;

                    &>img {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    &_statistics {
        height: 150px;
        background-color: #000000;

        &_box {
            @include flex-space-around;
            width: 80%;
            margin: auto;
            height: 100%;

            &_items {
                width: 23%;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 80%;
                justify-content: center;
                border-radius: 2px;
                border: 1px solid #fff;

                &>span {
                    display: block;
                    margin: 0 0 10px 0;
                }

                &-number {
                    color: $brown_color;
                    font-size: 35px;
                }

            }
        }
    }

    &_stations {
        padding: 50px 0;
        height: 1050px;

        &_box {
            width: 80%;
            margin: auto;
            height: 800px;

            &_icon,
            &_description,
            &_places {
                margin: 0 0 20px 0;
            }

            &_icon i {
                font-weight: 800;
                font-size: 25px;
                color: $brown_color;
            }

            &_description h4 {
                margin: 0 0 30px 0;
                color: $brown_color;
            }

            &_description p {
                line-height: 1.5;
                font-size: 14px;
                color: $unover_color;
                margin: 0 0 18px 0;
            }

            &_places {
                @include flex-space-between;
                padding: 5px 0;
                color: $unover_color;
            }

            &_places ul li {
                margin: 0 0 25px 0;
            }

            &_places ul li a {
                padding: 15px 20px 5px 20px;
                border: 1px solid #C9AB81;
                border-radius: 7px;
                color: #C9AB81 !important;
                transition: all ease-in 0.4s;
                font-size: 15px;
                cursor: pointer;

                &:hover {
                    @include over_on_button_with_background;
                }
            }

            &_places video {
                width: 488px;
                height: auto;
            }
        }
    }
}
// 
.tarighat_text {
    color: $brown_color;
}
// bottom_navigation 
.bottom_navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    // height: 10vh;
    background-color: #000;
    z-index: 100;
    padding: 10px 0;

    &_box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;

        &>li {
            display: flex;
            align-items: center;
            flex-direction: column;
            transition: all ease-in .3s;
            font-size: 13px;

            &:hover {
                color: $brown_color;
                cursor: pointer;
            }
        }
    }
}