@import url(./font.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Vazirmatn";
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  background-color: unset;
}

body {
  background-color: #1A1A1A;
  color: #F9F9FA;
  font-family: "Vazirmatn";
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  height: 100vh;
}
.header_top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_top_logo img {
  width: 130px;
}
.header_top_menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_top_menu-box-item a {
  color: #B2B0B0;
  margin-left: 18px;
}
.header_top_menu-box-item-button {
  padding: 15px 15px 5px 15px;
  border: 2px solid #C9AB81;
  border-radius: 7px;
  color: #C9AB81 !important;
  transition: all ease-in 0.4s;
}
.header_top_menu-box-item-button:hover {
  color: #fff !important;
  background-color: #C9AB81;
}
.header_top_menu-box-item-active {
  color: #fff !important;
}
.header_top_shopping {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_top_shopping_button {
  color: #C9AB81;
  border: 1px solid #C9AB81;
}
.header_top_shopping_phone {
  color: #C9AB81;
  font-size: 25px;
}
.header_box {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_box_title {
  color: #C9AB81;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
}
.header_box_description {
  margin-bottom: 20px;
}
.header_box_actions {
  display: flex;
  align-items: center;
  gap: 170px;
  color: #fff;
}
.header_box_actions-start {
  border: 2px solid #fff;
  color: #C9AB81;
  padding: 5px 20px;
  border-radius: 7px;
  transition: all ease-in 0.3s;
}
.header_box_actions-start:hover {
  background-color: #C9AB81;
}
.header_box_actions-order {
  border: 2px solid #fff;
  color: #C9AB81;
  padding: 5px 20px;
  border-radius: 7px;
  transition: all ease-in 0.3s;
}
.header_box_actions-order:hover {
  background-color: #C9AB81;
}
.header_box_actions-request {
  border: 2px solid #fff;
  color: #C9AB81;
  padding: 5px 20px;
  border-radius: 7px;
  transition: all ease-in 0.3s;
}
.header_box_actions-request:hover {
  background-color: #C9AB81;
}

.main_about {
  padding: 100px 0;
  background-color: #000;
}
.main_about_box {
  display: flex;
  width: 80%;
  margin: auto;
  font-size: 22px;
}
.main_about_box_right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}
.main_about_box_right_icon {
  color: #C9AB81;
}
.main_about_box_right_title {
  color: #C9AB81;
}
.main_about_box_right_manager {
  color: #B2B0B0;
}
.main_about_box_right_text {
  font-size: 15px;
}
.main_about_box_right_text > span {
  color: #C9AB81;
}
.main_about_box_right_more {
  padding: 15px 20px 5px 20px;
  border: 1px solid #C9AB81;
  border-radius: 7px;
  color: #C9AB81 !important;
  transition: all ease-in 0.4s;
  font-size: 15px;
}
.main_about_box_right_more:hover {
  color: #fff !important;
  background-color: #C9AB81;
}
.main_about_box_left {
  width: 50%;
}
.main_about_box_left_image_box {
  padding: 20px 20px 20px 20px;
}
.main_about_box_left_image_box > img {
  max-width: 100%;
}
.main_statistics {
  height: 150px;
  background-color: #000000;
}
.main_statistics_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 100%;
}
.main_statistics_box_items {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #fff;
}
.main_statistics_box_items > span {
  display: block;
  margin: 0 0 10px 0;
}
.main_statistics_box_items-number {
  color: #C9AB81;
  font-size: 22px;
}
.main_stations {
  padding: 50px 0;
  height: 1050px;
}
.main_stations_box {
  width: 80%;
  margin: auto;
  height: 800px;
}
.main_stations_box_icon, .main_stations_box_description, .main_stations_box_places {
  margin: 0 0 20px 0;
}
.main_stations_box_icon i {
  font-weight: 800;
  font-size: 25px;
  color: #C9AB81;
}
.main_stations_box_description h4 {
  margin: 0 0 30px 0;
  color: #C9AB81;
}
.main_stations_box_description p {
  line-height: 1.5;
  font-size: 14px;
  color: #B2B0B0;
  margin: 0 0 18px 0;
}
.main_stations_box_places {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  color: #B2B0B0;
}
.main_stations_box_places ul li {
  margin: 0 0 25px 0;
}
.main_stations_box_places ul li a {
  padding: 15px 20px 5px 20px;
  border: 1px solid #C9AB81;
  border-radius: 7px;
  color: #C9AB81 !important;
  transition: all ease-in 0.4s;
  font-size: 15px;
  cursor: pointer;
}
.main_stations_box_places ul li a:hover {
  color: #fff !important;
  background-color: #C9AB81;
}
.main_stations_box_places video {
  width: 488px;
  height: auto;
}

.tarighat_text {
  color: #C9AB81;
}

.bottom_navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 100;
  padding: 10px 0;
}
.bottom_navigation_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.bottom_navigation_box > li {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all ease-in 0.3s;
  font-size: 13px;
}
.bottom_navigation_box > li:hover {
  color: #C9AB81;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */